* {
  margin: 0;
  text-decoration: none;
}
h1 {
    font-family: Montserrat;
    color: #5F2083;
    font-size: 22pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 18pt;
}
.titulo-primero {
    font-family: Montserrat;
    color: #5F2083;
    font-size: 18pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}
.titulo-nombre {
    font-family: Montserrat;
    color: #5F2083;
    font-size: 18pt;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}
h2 {
    font-family: Montserrat;
    color: #44175E;
    font-size: 15pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}
h3 {
    font-family: Montserrat;
    color: #44175E;
    font-size: 13pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}
.texto-inicio{
    font-family: Lato;
    color: #9432CD;
    font-size: 15pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 14pt;
}
.texto{
    font-family: Lato;
    font-size: 12pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 14pt;
    padding-bottom: 14pt;
}
.texto-segundo{
    font-family: Lato;
    font-size: 12pt;
    font-style: italic;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 14pt;
    padding-bottom: 14pt;
}
.texto-tercero{
    font-family: Lato;
    font-size: 9pt;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 14pt;
    padding-bottom: 14pt;
}
body {
    background-color: #e3d6eb;
}
.navbar {
  overflow: hidden;
  background-color: #5F2083;
  font-family: Montserrat;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #e3d6eb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #e3d6eb;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Montserrat; 
  margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #9432CD;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #44175E;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #44175E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.container {
  position: relative;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  display: block; 
  margin: 0 auto;
  padding: 16px;
  margin-top: -50px;
  color: #e3d6eb;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: #44175E;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.numbertext {
  color: #44175E;
  font-size: 15px;
  padding-left: 26%;
  position: absolute;
  top: 2%;
  font-family: Montserrat;
}
.caption-container {
  text-align: center;
  background-color: #44175E;
  padding: 10px 16px;
  color: #e3d6eb;
  font-family: Lato;
  font-style: italic;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 10px; 
  padding-top: 20pt;
  padding-left: 5pt;
  padding-right: 5pt;
}
.grid-item {
  overflow: hidden;
}
.grid-item img {
  width: 100%; 
  height: auto; 
  display: block; 
}